<div data-hook="bank_account" class="align-center">
  <h5> 은행: <span class="green"><%= @order.bank_account.bank_name %></span></h5>
	<h5> 계좌번호: <span class="green"><%= @order.bank_account.account_number %></span></h5>
	<h5> 예금주: <span class="green"><%= @order.bank_account.account_owner %></span></h5>
</div>
